# ==================================================
# OS
# ==================================================

*~
.fuse_hidden*
.directory
.Trash-*
.nfs*
.DS_Store
Thumbs.db

# ==================================================
# Python Bytecode & Caches
# ==================================================

__pycache__/
*.py[cod]
*$py.class

# Tooling caches
.mypy_cache/
.pytest_cache/
.ruff_cache/
.pyre/
.pytype/
.hypothesis/

# ==================================================
# Virtual Environment
# ==================================================

.venv/
venv/
env/

# ==================================================
# Build & Packaging
# ==================================================

build/
dist/
*.egg-info/
.eggs/
*.egg
*.whl
MANIFEST


# ==================================================
# Coverage & Test Reports
# ==================================================

.coverage
.coverage.*
coverage.xml
htmlcov/

# ==================================================
# Logs
# ==================================================

*.log

# ==================================================
# VS Code
# ==================================================

.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json

.history/

# ==================================================
# Environment Variables
# ==================================================

.env
.env.local